* {
    margin: 0;
    border: none;
    padding: 0;
}

header {
    height: 80px;
    background-color: aqua;
}

#logo {
    font-size: 250%;
    float: left;
    color: red;
}

#logo, #nav_links {
    line-height: 100px;
}

#nav_links li {
    float: right;
    margin-right: 90px;
    list-style-type: none;
}

#welcome {
    height: 400px;
}

#welcome_text {
    text-align: center;
    line-height: 200px;
}

#about {
    height: 200px;
    background-color: bisque;
}

#explain {
    height: 200px;
}

#feedback {
    height: 300px;
    background-color: aqua;
}

.info_heading {
    color: red;
}

.info_paragraph {
    float: left;
    width: 50%;
}