* {
    margin: 0;
    border: none;
    padding: 0;
}
/*
body {
    
}
*/

/* Header and paragraph */
h1 {
    font-size: 400%;
    text-align: center;
    text-transform: uppercase;
    margin: 5px;
}

#welcome-text {
    text-align: center;
    font-size: 200%;
}

/* navigation */
nav {
    text-align: center;
}

li {
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
    margin: 20px;
    list-style-type: none;
}

#nav_links a {
    text-decoration: none;
}